@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
:root {
    --color-green: #00D02D;
    --color-coral: #FF4D00;
    --color-dimgray: #4c5d67;
    --color-darkslategray: #2B363C;
    --color-dark-blue: #000C35;
}

body,
html {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Play', sans-serif;
}

body {
    background: var(--color-dark-blue);
}

a {
    text-decoration: none;
}

.text-primary {
    color: var(--color-green);
}

.text-secondary {
    color: var(--color-coral);
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}